footer {
  color: #0b0a0b;
  background-color: rgba(194, 154, 172, 0.836); }

/* propuesta */
.table {
  background-color: rgba(194, 154, 172, 0.719); }

/* pagina contacto */
.form {
  background-color: #c6c3c3; }

* {
  margin: 0px;
  padding: 0px; }

/* pagina inicio */
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs_dFx_LfgrcmhceZ8VxNtGjHOvBaD43le5Q&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat; }
  body .img {
    transition: all 1s; }
    body .img:hover {
      transform: scale(1.1); }

/* nosotros */
.imgNos {
  transition: all 3s; }

.imgNos:hover {
  transform: scale(1.2); }

/* pagina contacto */
.form {
  width: 40%; }

h1 {
  font-family: "Updock", cursive;
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-family: "Updock", cursive; }

h3 {
  font-size: 15px; }

p, footer {
  font-family: "Questrial", sans-serif; }

footer {
  color: #0b0a0b;
  background-color: rgba(194, 154, 172, 0.836); }

/* propuesta */
.table {
  background-color: rgba(194, 154, 172, 0.719); }

/* pagina contacto */
.form {
  background-color: #c6c3c3; }

header {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/234/606/non_2x/vector-dark-grunge-background.jpg); }
  header .logo {
    width: 15%; }
  header ul {
    list-style: none; }
    header ul li {
      display: inline-block;
      padding: 15px;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px; }
      header ul li .nav-link {
        text-decoration: none;
        font-size: 17px;
        color: #c79eb1; }
        header ul li .nav-link:hover {
          color: #e993cf;
          font-weight: bold; }

.main1 {
  color: black;
  background-color: #fce7e1;
  padding: 50px; }

footer {
  bottom: 0;
  width: 100%;
  position: fixed; }
