footer {
  color: rgb(11, 10, 11);
  background-color: rgba(194, 154, 172, 0.836);
}
/* propuesta */
.table {
  background-color: rgba(194, 154, 172, 0.719);
}

/* pagina contacto */
.form {
  background-color: rgb(198, 195, 195);
}
