
h1{
  font-family: $fuenteTitulos;
  font-size: $sizeTitulos;
}
h2{
    font-size: 40px;
    font-family: $fuenteTitulos;
}
h3{
    font-size: 15px;
}

p, footer{
    font-family: $fuenteParrafo;
}

