$fuenteTitulos: "Updock", cursive;
$sizeTitulos: 60px;
$fuenteSubtitulos: "Beau Rivage", cursive;
$fuenteColor: black;
$fuenteParrafo: "Questrial", sans-serif;
$fuenteNav: "Times New Roman", Times, serif;
