@import "variables";
@import "colores";
@import "estructura";
@import "responsive";
@mixin sizes($size, $font) {
  font-family: $font;
  font-size: $size;
}
@import "tipografia";

header {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/234/606/non_2x/vector-dark-grunge-background.jpg);
  .logo {
    width: 15%;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 15px;
      @include sizes(17px, $fuenteNav);
      .nav-link {
        text-decoration: none;
        color: rgb(199, 158, 177);
        &:hover {
          color: rgb(233, 147, 207);
          font-weight: bold;
        }
      }
    }
  }
}

.main1 {
  color: $fuenteColor;
  background-color: rgb(252, 231, 225);
  padding: 50px;
}

.mainContacto {
  margin-bottom: 10%;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}
