@import "variables";
@import "colores";
@import "estructura";
@import "tipografia";
@import "colores";

ul {
  list-style: none;
  li {
    display: inline-block;
    padding: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    .nav-link {
      text-decoration: none;
      font-size: 17px;
      color: rgb(194, 154, 172);
      &:hover {
        color: rgb(233, 147, 207);
        font-weight: bold;
      }
    }
  }
}
